<!DOCTYPE html>
<html lang="es">

<%-include("./partials/head") %>

    <body>
        <%-include("./partials/header") %>

            <div class="banner">
                <img src="/images/banner2.jpg" alt="" class="banner">
            </div>


            <main class="main">

                <section class="seccion-producto">
                    <article class="producto">



                        <img src="/images/banner5.jpg" alt="" class="imagen-producto">
                        <h2 class="titular"><b>Celulares</b></h2>
                        </div>
                    </article>

                    <article class="producto">


                        <img src="/images/banner6.jpeg" alt="" class="imagen-producto">
                        <h2 class="titular"><b>Accesorios</b></h2>


                        </div>
                    </article>

                    <article class="producto">


                        <img src="/images/banner3.jpg" alt="" class="imagen-producto">
                        <h2 class="titular"><b>Servicio Tecnico </b></h2>


                        </div>
                    </article>

                    <article class="producto">


                        <img src="images/banner7.jpeg" alt="" class="imagen-producto">
                        <h2 class="titular"><b>Recomendados </b></h2>

                        </div>
                    </article>
                </section>


            </main>



            <%-include("./partials/footer") %>

    </body>

</html>