<footer>
    <div class="link_footer">
        <p class="text_footer_informacion">Informacion</p>
        <ul class="footer_menu">
            <li>
                <a href="#">Términos y condiciones</a>
            </li>
            <li>
                <a href="#">¿Como comprar?</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
        </ul>
    </div>

    <div class="text_container text_footer">
        <p>Envios a todo el pais<br>proximamente envios internacionales</p>
    </div>
    
    <div class="social_networks">
        <div class="div_button_facebook">
            <a href="#">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
        </div>
        <div class="div_button_twitter">
            <a href="#">
                <i class="fa-brands fa-square-x-twitter"></i>
            </a>
        </div>
        <div class="div_button_instagram">
            <a href="#">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
        </div>
    </div>
</footer>